/**
 * dialig style
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @version 0.0.0.6, Jun 3, 2012
*/

.dialog-background {
    height: 100%;
    left: 0;
    opacity: .3;
    position: absolute;
    top: 0;
    width: 100%;
    filter: alpha(opacity=30);
    display: none;
    background-color: #000000;
}

.dialog-panel {
    position: absolute;
    z-index: 100;
    display: none;
    -moz-user-select: none;
    user-select: none;
}

.dialog-title {
    float: left;
    line-height: 27px;
    margin-left: 3px;
    font-size: 12px;
    color: #FFFFFF;
}

.dialog-header-bg, .dialog-close-icon, .dialog-close-icon-hover {
    background-image: url("../images/dialog-default.gif");
    background-repeat: no-repeat;
}

.dialog-header-bg {
    background-position: 0 -56px;
    height: 28px;
    background-repeat:repeat;
    cursor: move;
    width: 100%;
}

.dialog-close-icon {
    background-position: -15px 0;
    cursor: pointer;
    float: right;
    height: 18px;
    margin: 5px 3px 0 0;
    width: 18px;
}

.dialog-close-icon:hover {
    background-position: -15px -18px;
}

.dialog-main {
    border: 1px solid #4A95C9;
    border-top-width: 0px;
    background-color: #F2F9FD;
}

.dialog-footer {
    padding: 10px;
    text-align: right;
}

.dialog-footer a {
    background-color: #6AC6F3;
    border: 1px solid #4A95C9;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 12px;
    height: 26px;
    margin-right: 12px;
    padding: 0 5px;
    text-decoration: none;
}

.dialog-footer a:hover span {
    background-position: 0 -110px;
    color: #005F97;
}
