/* 
    Document   : default-adapter
    Author     : Vanessa
    Version    : 0.0.0.1
    Description:
        Adapter style for paginate.
*/
a.paginate-pre {
    
}

span.paginate-pre {
    
}

a.paginate-next {
    
}

span.paginate-next {
    
}

.paginate-input {
    width: 20px;
}

.paginatie-go {
    
}