/*
    Document   : table-defaule
    Author     : Vanessa
    Version    : 0.0.0.9
    Description:
        Default style for table.js.
*/
.table-main {
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

/* import: word break */
.table-main table {
    border-bottom: 1px solid #CCCCCC;
    table-layout: fixed;
    word-break: break-all;
    width: 100%;
    word-wrap: break-word;
}

.table-verticalLine {
    position: absolute;
    width: 2px;
    background-color: #247AC4;
    display: none;
    height: 100%;
    cursor: col-resize;
}

.table-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.table-header {
}

.table-header th {
    border-right: 1px solid #d0e3eb;
    height: 24px;
}

.table-main td {
    border-top: 1px solid #D0D0D0;
    padding: 3px 0;
}

.table-main .table-selected {
    background-color: #DFE8F6 !important;
}

.table-body tr:hover {
    background-color: #eee;
}

.table-sortASC {
    background:url("../images/icon.png") no-repeat scroll 0px -176px transparent;
    cursor:pointer;
    height:8px;
    width:9px;
    font-size: 0px;
    line-height: 0px;
}

.table-sortDESC {
    cursor:pointer;
    height:8px;
    width:9px;
    font-size: 0px;
    line-height: 0px;
}

.table-sortUnactiveDESC {
}

.table-sortUnactiveASC {
}

.table-sort {
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    margin-left: 5px;
    float: left;
}

.table-oddRow {
    background-color: #FFFFFF;
}

.table-evenRow {
    background-color: #FAFAFA;
}