/*
    Document   : chart-default
    Created on : 2010-10-9
    Author     : Vanessa
    Version    : 0.0.0.1
    Description:
        Default style for chart.
*/
.chart-panel {
    overflow: auto;
}

.chart-hb-pic {
    margin-top:1px;
    line-height:0;
    font-size:0px;
    height:12px;
    border:1px solid #999999;
}

.chart-hb-count {
    color: red;
}

.chart-bh-bar {
    margin: 2px 0;
}

.chart-vb-bar {
    text-align:center;
}

.chart-vb-pic {
    overflow:hidden;
    line-height:0;
    font-size:0px;
    border:1px solid #999999;
}

.chart-vb-mark{
    padding:0 5px -5px 0;
    text-align:right;
    border-right:1px solid #999999;
    margin-top: 16px;
    float: left;
}