@charset "utf-8";
/*
 * style
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @version 1.0.0.1, Apr 8, 2012
*/

/* start reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/background.png") repeat-x scroll 0 0 #F2F2F2;
    color: #4D4D4D;
    min-height: 650px;
    min-width: 990px;
    font-family: \5fae\8f6f\96c5\9ed1, sans-serif;
    font-size: 12px;
}

a {
    color: #E0E5F3;
    font-weight: bold;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
    border: 0;
}
/* end reset */

/* start common */
.none {
    display: none;
}

.clear {
    background-color: transparent;
    border: 0px;
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;    
}

.wrapper {
    width: 990px;
    margin: 0 auto;
}

.ft-red {
    color: #D44836;
    font-weight: bold;
}
/* end common */

/* start header */
.header li {
    float: left;
}

.header li a {
    display: block;
    font-size: 18px;
    margin: 0 5px;
    padding: 30px 15px;
    text-align: center;
    width: 55px;
    color: #4D4D4D;
}

.header li a:hover, .header ul a.current {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
}

.header li a:hover {
    color: #E0E5F3;
    background-color: #4D4D4D;
}

.header ul a.current {
    background-color: #D44836;
    color: #E0E5F3;
}
/* end header */

/* start main */
.main {
    position: relative;
    margin: 20px 0;
    background-image: url("../images/silde-bg.png");
    padding: 20px;
}

#slider li{ 
    width: 950px;
    height:440px;
    overflow:hidden; 
    position: relative;
}	

#prevBtn, #nextBtn { 
    display:block;
    width:30px;
    height:77px;
    position:absolute;
    left:-27px;
    top:200px;
    z-index:1000;
}	

#nextBtn { 
    left:980px;
}	

#prevBtn a, #nextBtn a {  
    background-image: url("../images/slide-prev.png");
    display: block;
    height: 78px;
    width: 37px;
    outline: none;
}	

#nextBtn a { 
    background-image: url("../images/slide-next.png");
}	

#prevBtn a:hover, #nextBtn a:hover {  
    opacity: 0.7;
    filter: alpha(opacity=70);
}
/* end main */

/* start main -> view */
#slider .item {
    position: absolute;
}
/* end main -> view */

/* start main -> details */
#slider .item-img {
    float: left;
    margin: 50px 0 50px 50px;
}

#slider .item-intr {
    float: right;
    overflow: hidden;
    padding: 30px;
    width: 320px;
    word-wrap: break-word;
}

#slider .item-intr dl {
    margin: 10px 0 10px 20px;
    line-height: 20px;
}
/* end main -> details */

/* start footer */
.footer {
    color: #4D4D4D;
    font-size: 16px;
    text-align: right;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
}

.footer span {
    font-size: 18px;
}
/* end footer */