@charset "utf-8";
/*
 * completed default style
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @version 1.0.2.0, Oct 29, 2011
*/ 
.completed-input {
    margin-right: 12px;
    margin-top: 2px;
}

.completed-panel {
    background-color: #ECECEC;
    border: 1px solid #CCCCCC;
    color: #0000CC;
    display: none;
    overflow: auto;
    padding: 2px;
    position: absolute;
    z-index: 10;
}
.completed-panel a {
    display: block;
    text-decoration: none;
}
.completed-panel a.selected {
    background-color: #FFFFFF;
    color: #D54121;
}
.completed-ck span {
    background: url(../images/icon.png) repeat center bottom;
    border: 1px solid;
    border-color: #CCC #BBBBBB #A0A0A0;
    border-radius: 4px;
    color: #21759B;
    cursor: pointer;
    float: left;
    height: 28px;
    line-height: 26px;
    margin: 3px 6px;
    padding: 0 6px;
    vertical-align: top;
}
.completed-ck span:hover {
    border-color: #BBB;
}

.completed-ck span.selected {
    color: #D54121;
    background: url(../images/completed-default.png) no-repeat right bottom;
}