/*
    Document   : table-defaule
    Author     : Vanessa
    Version    : 0.0.0.8
    Description:
        Default style for table.js.
*/
.table-main {
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

/* import: word break */
.table-main table {
    border-bottom: 1px solid #CCCCCC;
    table-layout: fixed;
    word-break: break-all;
    width: 100%;
    word-wrap: break-word;
}

.table-verticalLine {
    position: absolute;
    width: 2px;
    background-color: #247AC4;
    display: none;
    height: 100%;
    cursor: col-resize;
}

.table-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.table-header {
    background: url("../images/icon.png") repeat-x scroll 0 -193px transparent;
}

.table-header th {
    border-right: 1px solid #d0e3eb;
    height: 24px;
}

.table-main td {
    border-top: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    padding: 3px 0;
}

.table-lineSelected td, .table-lineHover td {
    background-color: #FFFFCC;
}

.table-sortASC {
    background:url("../images/icon.png") no-repeat scroll 0px -176px transparent;
    cursor:pointer;
    height:8px;
    width:9px;
    font-size: 0px;
    line-height: 0px;
}

.table-sortDESC {
    background:url("../images/icon.png") no-repeat scroll 0px -185px transparent;
    cursor:pointer;
    height:8px;
    width:9px;
    font-size: 0px;
    line-height: 0px;
}

.table-sortUnactiveDESC {
    background:url("../images/icon.png") no-repeat scroll -10px -185px transparent;
}

.table-sortUnactiveASC {
    background:url("../images/icon.png") no-repeat scroll -10px -176px transparent;
}

.table-sort {
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    margin-left: 5px;
    float: left;
}

.table-floatLayerIcon {
    background: url(../images/icon.png) no-repeat -96px -16px;
    height:16px;
    width:16px;
    margin: 0 10px;
    float: left;
}

.table-oddRow {
    background-color: #FFFFFF;
}

.table-evenRow {
    background-color: #EEF5FE;
}

.table-subTitle, .table-subTitleHover {
    margin: 6px 0px 3px;
    font-weight: bold;
    cursor: pointer;
}

.table-subTitleHide {
    background:url("../images/icon.png") no-repeat scroll -81px -35px transparent;
    height:11px;
    width:16px;
    margin-top: 3px;
}

.table-subTitleShow {
    background:url("../images/icon.png") no-repeat scroll -97px -35px transparent;
    height:11px;
    width:16px;
    margin-top: 3px;
}

.table-expendRow td {
    border-top: 0px;
}