/*
    Document   : table-component
    Created on : Jun 21, 2010, 5:19:04 PM
    Author     : Vanessa
    Description:
        Default style for bowknot.table.js.
*/
.black-table-main {
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: auto;
}

.black-table-main table {
    border-left: 1px solid #CCCCCC;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
}

.black-table-verticalLine {
    position: absolute;
    width: 1px;
    background-color: #247AC4;
    height: 100%;
}

.black-table-header, .black-table-body {
    overflow: auto;
}

.black-table-header th {
    border: 1px solid #CCCCCC;
    border-left-style: none;
    color: #333333;
    height: 28px;
    background: url("../images/black-table-header.jpg") repeat;
}

.black-table-main td {
    border-right: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    color: #333333;
    padding: 3px 0;
}

.black-table-lineSelected td, .black-table-lineHover td {
    color: #008EE8;
    background-color: #D9F0FC;
}

.black-table-sortASC {
    background:url("../images/table-sort.jpg") no-repeat scroll 0px 0px transparent;
    cursor:pointer;
    height:8px;
    width:9px;
    font-size: 0px;
    line-height: 0px;
}

.black-table-sortDESC {
    background:url("../images/table-sort.jpg") no-repeat scroll 0px -8px transparent;
    cursor:pointer;
    height:8px;
    width:9px;
    font-size: 0px;
    line-height: 0px;
}

.black-table-sortUnactiveDESC {
    background:url("../images/table-sort.jpg") no-repeat scroll -10px -8px transparent;
}

.black-table-sortUnactiveASC {
    background:url("../images/table-sort.jpg") no-repeat scroll -10px 0px transparent;
}

.black-table-sort {
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    margin-left: 5px;
    float: left;
}

.black-table-floatLayerIcon {
    background: url(../images/table-icon.png) no-repeat -2px -193px;
    height:13px;
    width:13px;
    margin: 0 10px;
    float: left;
}

.black-table-oddRow {
    background-color: #E0E0E0;
}

.black-table-evenRow {
    background-color: #F0F2F5;
}