/*
    Document   : form-tabs
    Author     : Liyuan Li
    Version    : 0.0.0.2
    Description: Tabs style for default.
*/
/* tab nav */
.tabs-tabs-bg {
    background: url("../images/tabs-default.png") 0px -10px;
}

.tabs-nav {
    height: 24px;
    list-style: none outside none;
}

.tabs-nav, .tabs-nav li {
    margin: 0;
    padding: 0;
}

.tabs-nav li {
    float: left;
}

.tabs-left, .tabs-right, .tabs-right-selected, .tabs-left-selected,
.tabs-left-right-selected, .tabs-left-right, .tabs-left-selected-right {
    border-left: 1px solid #3399CC;
    float: left;
    height: 24px;
}

.tabs-middle-selected, .tabs-middle {
    background-image: url("../images/tabs-default.png");
    float: left;
    cursor: pointer;
    height: 20px;
    padding: 4px 6px 0px;
}

.tabs-middle-selected {
    background-position: 0px -34px;
    font-weight: bold;
}

.tabs-middle {
    background-position: 0 -82px;
}

.tabs-close-icon {
    height: 8px;
    width: 9px;
    background-image: url("../images/tabs-default.png");
    float: left;
    margin-top: 4px;
    margin-left: 5px;
    line-height: 8px;
    font-size: 0px;
}

.tabs-middle:hover {
    background-position:0 -58px;
}

/* tabs content*/
.tabs-content {
    border: 1px solid #4B95C8;
    border-bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top-width: 0px;
}