/*
    Document   : upload-default
    Author     : Liyuan Li
    Version    : 0.0.0.1
    Description: Default style for upload.
*/
body {
    font: 12px/16px Arial, Helvetica, sans-serif;
    background-color: #EFF7FF;
}

#fileQueue {
    width: 560px;
    height: 200px;
    overflow: auto;
}

.upload-clear {
    clear:both;height:0px;font-size:0px;line-height:0px;overflow: hidden;border: 0px;background-color: transparent;display: block;
}

.uploadifyQueueItem {
    margin-top: 5px;
}

.upload-left, .upload-middle, .upload-right,
.uploadifyQueueItem .cancel, .uploadifyQueueItem .icon {
    background-image: url('../images/upload-default.gif');
}

.upload-left {
    background-position: 0 -3px;
    float: left;
    height: 34px;
    width: 10px;
}

.upload-middle {
    background-position: 0 -72px;
    color: #333333;
    float: left;
    height: 28px;
    padding-top: 6px;
    width: 512px;
}

.upload-right {
    background-position: -12px -3px;
    float: left;
    height: 34px;
    width: 10px;
}

.uploadifyQueueItem .cancel {
    background-position: 0 -42px;
    float: right;
    height: 10px;
    margin-top: 2px;
    width: 10px;
    line-height: 10px;
    font-size: 0px;
}

.uploadifyQueueItem .icon {
    background-position: -20px -46px;
    display: block;
    float: left;
    height: 16px;
    margin-right: 3px;
    width: 16px;
}

.uploadifyProgress {
    margin-top: 3px;
    width: 100%;
}
.uploadifyProgressBar {
    background-color: #68E9FF;
    height: 3px;
    width: 1px;
}

.percentage {
    color: #666666;
}

/* complete */
.uploadifyQueue .completed .upload-left {
    background-position: -24px -3px;
}

.uploadifyQueue .completed .upload-middle {
    background-position: 0 -111px;
}

.uploadifyQueue .completed .upload-right {
    background-position: -36px -3px;
}

.uploadifyQueue .completed .icon {
    background-position: -40px -46px;
}

/* error */
.uploadifyQueue .uploadifyError .upload-left {
    background-position: -48px -3px;
}

.uploadifyQueue .uploadifyError .upload-middle {
    background-position: 0 -150px;
}

.uploadifyQueue .uploadifyError .upload-right {
    background-position: -60px -3px;
}

.uploadifyQueue .uploadifyError .icon {
    background-position: -60px -46px;
}

.uploadifyQueue .uploadifyError .cancel {
    background-position: 0px -52px;
}

.clear {
    clear: both;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
    overflow: hidden;
    border: 0px;
    background-color: transparent;
    display: block;
}