
html,body {
    margin: 0;
    padding: 0;
    font-size: small;
}
body {
    background-color: #FFF;
    color: #000;
    font-size: small;
}

a:link {
    color: #21759B;
}
a:visited {
    color: #551A8B;
}
a:active {
    color: #D54121;
}
a:hover {
    color: #D54121;
}
img {
    border: medium none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
h1 {
    font-size: 160%;
}
h2 {
    font-size: 140%;
}
h3 {
    font-size: 120%;
}
h4 {
    font-size: 110%;
}
textarea {
    overflow: autos;
}

li {
    margin-left: 12px;
}

button, .button {
    background: url(../images/icon.png) repeat center bottom;
    border: 1px solid;
    border-color: #CCC #BBBBBB #A0A0A0;
    border-radius: 4px;
    height: 28px;
    margin: 0;
    padding: 0 6px;
    vertical-align: top;
}
button:hover,.button:hover {
    border-color: #BBB;
}
.padding12 {
    padding: 12px;
}
.paddingBottom12 {
    padding-bottom: 12px !important;
}
.paddingTop12 {
    padding-top: 12px !important;
}
.margin12 {
    margin: 12px;
}
.marginTop12 {
    margin-top: 12px !important;
}
.marginBottom12 {
    margin-bottom: 12px !important;
}
.f-bold {
    font-weight: bold !important;
}
.nowrap {
    white-space: nowrap;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    background-color: transparent;
    border: 0px;
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
}
.none {
    display: none;
}
.pointer {
    cursor: pointer;
}
.no-underline {
    text-decoration: none !important;
}
.red {
    color: red;
}

.demo {
    width: 900px;
    margin: 0 auto;
}
/* start form */
th {
    text-align: right;
    white-space: nowrap;
}

input[type='text'], input[type='password'], textarea {
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    outline: medium none;
    width: 100%;
    padding: 0 3px;
}

textarea {
    overflow: auto;
}
input {
    height: 24px;
}
input[type='checkbox'] {
    border: 0px;
    vertical-align: top;
}
input.normalInput {
    width: auto;
}
input[type='checkbox']:focus {
    border: 0px;
}
input[type='checkbox'] {
    border: 0px;
    vertical-align: top;
}
input:focus, textarea:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

textarea {
    padding: 3px;
}
/* end form */

/* start icon */
.putTopIcon,.notPutTopIcon,.deleteIcon,.updateIcon,.commentIcon, 
.homeIcon,.adminIcon,.loginIcon,.logoutIcon,.calendarIcon,.browserIcon, 
.postIcon,.articlesIcon,.draftsIcon,.usersIcon,.linkIcon,
.preferenceIcon, .pageIcon, .trueIcon,.falseIcon,
.fileIcon, .othersIcon, .goTopIcon, .goBottomIcon, .cacheIcon, .aboutIcon {
    background-image: url("../images/icon.png");
    cursor: pointer;
    height: 16px;
    width: 16px;
}
.adminIcon,.loginIcon,.logoutIcon,.homeIcon {
    margin-top: 3px;
}
.pageIcon {
    background-position: -144px 0px;
}
.postIcon {
    background-position: -16px 0;
}
.linkIcon {
    background-position: -32px 0;
}
.preferenceIcon {
    background-position: -48px 0;
}
.articlesIcon {
    background-position: -64px 0;
}
.trueIcon {
    background-position: -80px 0;
    cursor: auto;
}
.falseIcon {
    background-position: -96px 0;
    cursor: auto;
}
.fileIcon {
    background-position: -112px 0;
}
.deleteIcon {
    background-position: 0 -16px;
}
.updateIcon {
    background-position: -16px -16px;
}
.commentIcon {
    background-position: -32px -16px;
}
.homeIcon {
    background-position: -64px -16px;
}
.adminIcon {
    background-position: -80px -16px;
}
.logoutIcon {
    background-position: -96px -16px;
}
.loginIcon {
    background-position: -112px -16px;
}
.browserIcon {
    background-position: -128px -16px;
}
.calendarIcon {
    background-position: -144px -16px;
}
.putTopIcon {
    background-position: -16px -32px;
    float: left;
}
.notPutTopIcon {
    background-position: -32px -32px;
    float: left;
}
.othersIcon {
    background-position: -48px -32px;
}
.cacheIcon {
    background-position: -96px -32px;
}
.draftsIcon {
    background-position: -96px -32px;
}
.usersIcon {
    background-position: -112px -32px;
}
.goTopIcon {
    background-position: -64px -32px;
    position: fixed;
    right: 20px;
    top: 45%;
}
.goBottomIcon {
    background-position: -80px -32px;
    bottom: 40%;
    position: fixed;
    right: 20px;
}
/* end icon */